.NewNote form {
    padding-bottom: 15px;
}
  
.NewNote form textarea {
  height: 100px;
  font-size: 15px;
}

.NewNote {
  font-size: 15px;
}

.DropdownItem {
  font-size: 14px;
}

.FormLabel {
  font-size: 18px !important;
}

.FormControl {
  width: 250px !important;
}

