.ViewNotes {
    font-size: 15px;
    color: black !important;
    margin-bottom: 100px;
}

.WorkoutCard {
    margin-bottom: 15px;
}

.NoWorkoutToDisplayText {
    font-style: italic;
    text-align: center;
    margin-top: 100px;
}